<header class="header">
  <a href="/"><img src="/images/logo.jpg" alt="logo" class="header__logo" ></a>
  
    <a href="#" class="header__bars">
      <i class="fa fa-bars"></i>
    </a>

    <nav class="header__nav">
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="">quienes</a></li>
        <li><a href="/admin">dashboard</a></li>
        <li><a href="/carrito">carrito</a></li>
        <li><a href="/usuarios/ingreso">ingresá</a></li>
        <li><a href="/usuarios/registro">registrate</a></li>
      </ul>
    </nav>
  </header>